{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login-signup.css') }}">
    <script src="{{ url_for('static', filename='js/auth/signup.js') }}" defer></script>
{% endblock %}

{% block nav %}
    <a href="/" class="app-name">Trader</a>
{% endblock %}

{% block content %}
<form class="center-form" action="" method="post">
    {{ form.csrf_token }}
    <fieldset>
        <header>- Sign Up! -</header>
        <ul>
            <li>
                {{ form.firstname(id="firstName", placeholder="First name...") }}
                {% if form.firstname.errors %}
                    <ul>
                        {% for err in form.firstname.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li>
                {{ form.lastname(id="lastName", placeholder="Last name...") }}
                {% if form.lastname.errors %}
                    <ul>
                        {% for err in form.lastname.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li class="username-container">
                {{ form.username(id="username", placeholder="Username...") }}
                {% if form.username.errors %}
                    <ul>
                        {% for err in form.username.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="check-username-div">
                    <img src="{{ url_for('static', filename='img/spinner.gif') }}" alt="loading...">
                    <span></span>
                </div>
            </li>
            <li class="email-container">
                {{ form.email(id="email", placeholder="Email...") }}
                {% if form.email.errors %}
                    <ul>
                        {% for err in form.email.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <span class="email-check"></span>
            </li>
            <li>
                {{ form.password(id="password", placeholder="Password...") }}
                {% if form.password.errors %}
                    <ul>
                        {% for err in form.password.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="password-criteria">
                    <li id="lc" class="failed">Lowercase letters</li>
                    <li id="uc" class="failed">Uppercase letters</li>
                    <li id="n" class="failed">Numbers</li>
                    <li id="s" class="failed">At least 1 symbol</li>
                    <li id="ws" class="passed">No whitespace</li>
                    <li id="len" class="failed">8 characters or more</li>
                </ul>
            </li>
            <li>
                {{ form.r_password(id="r-password", placeholder="Re-enter password...") }}
                {% if form.r_password.errors %}
                    <ul>
                        {% for err in form.r_password.errors %}
                        <li class="red-warning invalid">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <span style="display: none;" class="not-matching">Password doesn't match</span>
            </li>
            <li>
                {{ form.submit() }}
            </li>
        </ul>
    </fieldset>
    <h4 class="signup-login-switch">Already have an account? <a href="{{ url_for('login') }}{% if next %}?next={{ next }}{% endif %}">Log in!</a></h4>
</form>
<script>
    // Variables for external JS file
    window.csrf = '{{ form.csrf_token._value() }}'; // CSRF token
    window.checkUserEmail = "{{ url_for('check_user_email') }}"; // Link for validating email
</script>
{% endblock %}