h1 {
    text-align: center;
    position: relative;
    top: 30px;
    width: 525px;
    margin: auto;
    font-size: 3rem;
}

h1 .status {
    color: #064789;
    text-shadow: 1px 1px white;
}

h1 .message {
    text-shadow: 1px 1px #064789;
}

h1 .description {
    font-size: 1rem;
    padding: 10px;
    color: rgba(128, 128, 128, 0.766);
}