.items-cont {
    gap: 30px 10px;
}

.item {
    border-bottom-left-radius: 0;
}

.edit-delete {
    position: absolute;
    bottom: -26px;
    left: -4px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-top: 2px solid #064789;
}

.edit-delete button {
    width: 100%;
    border-style: none;
    padding: 3px;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.7;
}

.edit-delete button:hover {
    opacity: 1;
}

.edit-delete .edit-btn {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

.edit-delete .delete-btn {
    border-color: red;
    color: red;
    background-color: rgb(255, 159, 159);
}