
.grid-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 35px 1fr auto;
    grid-template-rows: 45px 1fr 30px 1fr;
    gap: 5px;
    height: 91vh;
    width: 99vw;
    margin: 0 10px;
    color: black;
}

.item-img-cont {
    position: relative;
    background-color: black; 
    overflow: hidden;
    margin: 5px;
    border: 3px solid #064789;
    border-radius: 5px;
    grid-column: span 2;
    grid-row: span 2;
}

.item-img-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

button {
    height: 35px;
    cursor: pointer;
    color: #064789;
    border-color: #064789;
    background-color: rgba(132, 189, 215, 0.644);
    opacity: 0.7;
    border-style: solid;
    border-width: 3px;
}

button:hover {
    opacity: 1;
}

.seller-btns {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / 3;
}

.seller-btns .edit-btn {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

.seller-btns svg, .chat-btn svg {
    position: relative;
    top: 0.8px;
}

.seller-btns .delete-btn {
    border-color: red;
    color: red;
    background-color: rgb(255, 159, 159);
}

.chat-btn, .seller-btns {
    grid-column-start: 1;
    margin-left: 5px;
}

.chat-btn, .seller-btns button {
    border-radius: 13px;
    font-weight: bolder;
}

.seller-btns button {
    width: 47%;
}

.favourite-btn {
    grid-column-start: 2;
    border-radius: 50%;
    width: 35px;
}

.favourite-btn svg{
    position: relative;
    top: 2px;
}

.fav svg {
    fill: red;
}

.content-cont {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
}

.title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    grid-row: 1;
    grid-column: 3 / 5;
    margin-top: 10px;
}

.title-price .item-title {
    font-size: 2rem;
    color: #064789;
    text-shadow: 2px 2px white;
}

.price-cont {
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px 0;
}

.price-cont .egp {
    color: #7eccf0;
}

.description-cont {
    color: #064789;
    overflow: auto;
    background-color: #7eccf065;
    border-radius: 20px;
    padding: 10px;
    grid-row: 2;
    grid-column: 3 / 5;
}

.description-cont::-webkit-scrollbar {
    width: 10px;
}

.description-cont::-webkit-scrollbar-thumb {
    background-color: #888888b4;
    border-radius: 10px;
}

.description-cont::-webkit-scrollbar-thumb:hover {
    background-color: #888;

}
  
.description-cont::-webkit-scrollbar-track {
    background-color: transparent;
}

.description-cont div {
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
    padding: 10px 0;
}

.location-cont {
    grid-column-start: 3;
    grid-row-start: 3;
}

.location-cont svg {
    position: relative;
    top: 5px;
    left: 6px;
}

.item-created-at {
    grid-column-start: -2;
    grid-row-start: 3;
    margin-right: 10px;
}

.other-items-cont {
    grid-column: span 5;
}

.other-items-cont .title {
    font-weight: bolder;
    padding: 10px;
}

.other-items {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding-bottom: 5px;
    height: 83%;
    width: 100%;
}

.other-items::-webkit-scrollbar {
    height: 10px;
}

.other-items::-webkit-scrollbar-thumb {
    background-color: #888888b4;
    border-radius: 10px;
}

.other-items::-webkit-scrollbar-thumb:hover {
    background-color: #888;

}
  
.other-items::-webkit-scrollbar-track {
    background-color: transparent;
}

.item {
    flex-shrink: 0;
    width: 330px;
    height: 200px;
}