.items-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px 10px;
    padding: 10px 0;
}

.single-item-cont {
    position: relative;
    width: 440px;
    margin: auto;
    transition: transform 0.3s;
}

.single-item-cont:hover {
    transform: scale(102%);
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    width: 440px;
    height: 290px;
    background-color: #064789;
    border-radius: 20px;
    border: 4px solid #064789;
    cursor: pointer;
    overflow: hidden;
}

.black-mask {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.sold-strip {
    position: absolute;
    top: 35px;
    left: -50px;
    width: 200px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    padding: 3px 0;
    border: 2px solid white;
    transform: rotate(-45deg);
}

.img-cont {
    border-radius: 20px 20px 0 0;
    position: relative;
    background-color: black;
    overflow: hidden;
    height: 85%;
}

.img-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.upper, .lower {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2px 5px;
}

.upper {
    font-size: 1.2rem;
}

span.egp {
    color: #7eccf0;
    font-weight: bolder;
}

.lower {
    font-size: 0.85rem;
    opacity: 0.7;
    
}

.lower svg {
    position: relative;
    top: 3.5px;
    left: 4px;
}

/*********Seller page*********/

.seller-items-cont {
    gap: 30px 10px;
}

.seller-items-cont .item {
    border-bottom-left-radius: 0;
}

.seller-page-btns .edit-delete-status {
    position: absolute;
    bottom: -22px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-top: 2px solid #064789;
}

.seller-page-btns button {
    width: 100%;
    border-style: none;
    font-weight: bolder;
    cursor: pointer;
    padding: 3px;
    opacity: 0.7;
}

.seller-page-btns .edit-delete-status svg {
    position: relative;
    top: 0.8px;
}

.seller-page-btns .status-btn svg {
    top: 2px;
}

.seller-page-btns .edit-btn {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

.seller-page-btns .delete-btn {
    border-color: red;
    color: red;
    background-color: rgb(255, 159, 159);
}

.seller-page-btns .favourite-btn {
    position: absolute;
    width: 50px;
    height: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 159, 159);
}

.seller-page-btns .favourite-btn svg {
    position: relative;
    bottom: 3px;
}

.seller-page-btns button:hover {
    opacity: 1;
}

.empty-pge {
    font-size: 1.7rem;
    text-shadow: 1px 1px #064789;
    text-align: center;
    padding: 15px;
}

.empty-pge a {
    color: #064789;
    text-shadow: white 1px 1px;
}

.empty-pge a:hover {
    color: #427AA1;
    text-shadow: white 1px 1px;
}
