.items-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px 10px;
    padding: 10px 0;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    width: 440px;
    height: 290px;
    margin: auto;
    background-color: #064789;
    border-radius: 20px;
    border: 4px solid #064789;
    cursor: pointer;
    /* overflow: hidden; */
    transition: transform 0.5s;
}

.item:hover {
    transform: scale(102%);
}

.img-cont {
    border-radius: 20px 20px 0 0;
    position: relative;
    background-color: black;
    overflow: hidden;
    height: 85%;
}

.img-cont img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.upper, .lower {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2px 5px;
}

.upper {
    font-size: 1.2rem;
}

span.egp {
    color: #7eccf0;
    font-weight: bolder;
}

.lower {
    font-size: 0.85rem;
    opacity: 0.8;
    
}

.lower svg {
    position: relative;
    top: 3.5px;
    left: 4px;
}