<div class="search-location-cont">
    <input type="search" class="search" placeholder="Search...">
    <div class="location-cont">
        <span>Location</span>
        <select name="location" class="location" title="Location">
            <option class="all" value="">All</option>
            <option class="maadi" value="maadi">Maadi</option>
            <option class="october" value="october">6 October</option>
            <option class="faisal" value="faisal">Faisal</option>
            <option class="madenti" value="madenti">Madenti</option>
            <option class="haram" value="haram">Haram</option>
        </select>
    </div>
</div>