<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trader{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Trader</a>
            <input type="search" id="search" placeholder="Search...">
            <a href="">Location</a>
            <a href="{{ url_for('sell') }}">Sell</a>
            <a href="{{ url_for('login') }}">Log in</a>
            <a href="{{ url_for('signup') }}">Sign up</a>
            <a href="{{ url_for('logout') }}">Log out</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>