<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trader{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/user-card.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block nav %}
        <header>
            <nav class="{% block nav_search %}{% endblock %}">
                <a href="{{ url_for('index') }}" class="app-name">Trader</a>

                <div class="all-links">
                    <a href="{{ url_for('sell') }}" class="nav-link {% block sell_page %}{% endblock %}">Sell</a>
                    <a href="{{ url_for('all_contacts') }}" class="nav-link {% block all_contacts_page %}{% endblock %}">Chats <span class="unread-msgs"></span></a>
                    <a href="{{ url_for('my_items') }}" class="nav-link {% block my_items_page %}{% endblock %}">My items</a>
                    <a href="{{ url_for('favourites') }}" class="nav-link {% block favourites_page %}{% endblock %}">Favourites</a>
                </div>

                <div class="user-card-cont">
                    {% if current_user.is_authenticated %}
                        {% include 'partials/user-card.html' %}
                        <a href="{{ url_for('logout') }}" class="logout">Log out</a>
                    {% else %}
                        <div class="guest">@Guest</div>
                        <div class="login-signup">
                            <a href="{{ url_for('login') }}" class="login">Log in</a>
                            <a href="{{ url_for('signup') }}" class="signup">Sign up</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
            
            {% block search_location %}{% endblock search_location %}
        </header>
            
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="{{ category }}-message">{{ message }}</div>
        {% endfor %}

    {% endblock nav %}

    {% block content %}{% endblock content %}

    {% block unread_msgs_script %}
        {% if current_user.is_authenticated %}
            <script>
                (function(){
                    // Getting element from the DOM
                    const unreadMsgs = document.querySelector('.unread-msgs');
                    
                    // Variable for checking if the response was the same (for checking unread messages)
                    let sameResponse;

                    // Recursive function that checks if there are any new messages
                    function checkUnread(){
                        fetch('/all-contacts/check-unread-json')
                        .then(response => response.json())
                        .then(data => {
                            if (sameResponse !== data['unread_chats']){
                                if (data['unread_chats']){
                                    unreadMsgs.innerText = data['unread_chats'];
                                    unreadMsgs.style.display = 'inline-flex';
                                } else {
                                    unreadMsgs.style.display = 'none';
                                };
                                sameResponse = data['unread_chats'];
                            };
                        });

                        setTimeout(checkUnread, 3000);
                    };

                    checkUnread();
                })()
            </script>
        {% endif %}
    {% endblock unread_msgs_script %}
</body>
</html>