{% extends 'base.html' %}

{% block title %}Trader Chats{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css') }}">
    <script src="{{ url_for('static', filename='js/chats.js') }}" defer></script>
{% endblock head %}

{% block content %}

<h2 class="chat-title">Chats</h2>

<div id="chats">
    <img class="spinner" src="{{ url_for('static', filename='img/spinner.gif') }}" alt="loading...">
</div> <!--JSON stuff-->

<script>
    window.spinner = "{{ url_for('static', filename='img/spinner.gif') }}"
    window.chatsJsonLink = "{{ url_for('chats_json') }}"
</script>
<!-- window.csrf = '' -->
<!-- window.checkUserEmailLink = "" -->
{% endblock content %}
