{% extends 'base.html' %}

{% block title %} Trader - Edit {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sell-edit.css') }}">
{% endblock %}

{% block content %}
    <header class="pge-header">- Edit -</header>

    <form class="center-form" action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {{ form.image(class="input-field") }}
        {% if form.image.errors %}
            <ul>
                {% for err in form.image.errors %}
                <li class="red-warning">{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.title(class="input-field") }}
        {% if form.title.errors %}
            <ul>
                {% for err in form.title.errors %}
                <li class="red-warning">{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.description(class="input-field") }}
        {% if form.description.errors %}
            <ul>
                {% for err in form.description.errors %}
                <li class="red-warning">{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.location(class="input-field") }}
        {% if form.location.errors %}
            <ul>
                {% for err in form.location.errors %}
                <li class="red-warning">{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="price-cont">
            {{ form.price(class="input-field") }} <span class="currency">EGP</span>
        </div>
        {% if form.price.errors %}
            <ul>
                {% for err in form.price.errors %}
                <li class="red-warning">{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.submit(class="input-field") }}
    </form>
    <script>
        document.getElementById('title').focus();
    </script>
{% endblock %}