{% extends 'base.html' %}

{% block title %} Trader - Favourites {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/item.css') }}">
    <script src="{{ url_for('static', filename='js/search-location.js') }}" defer></script>
{% endblock %}

{% block favourites_page %}selected{% endblock %}

{% block search_location %}
    {% include 'partials/search-location.html' %}
{% endblock %}

{% block content %}
    <header class="pge-header" style="margin: 15px;">- Favourites -</header>
    <div class="items-cont seller-items-cont">
        {% for item in fav_items %}
            {% with seller_page=True, fav_page=True %}
                {% include 'partials/item.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class='no-fav empty-pge' style="display: none;">No favourites, <a href="{{ url_for('index') }}">Browse all items!</a></div>

    <script>
        // Select all elements with the class "favourite-btn" and the element with class "no-fav"
        const favouriteBtns = document.querySelectorAll('.favourite-btn');

        // Check if there are any favorite buttons found in the document
        if (favouriteBtns.length) {
            // Iterate over each favorite button
            favouriteBtns.forEach(each => {
                each.addEventListener('click', function(){
                    window.location.href = `/favourite-json/${this.id.split('-')[2]}`
                })
            })
        } else {
            // If no favorite buttons are found, display the element with class "no-fav"
            document.querySelector('.no-fav').style.display = 'block';
        };
    </script>
{% endblock %}