{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="items-cont">
    
    {% for item in items %}
    <a class="item" href="{{ url_for('single_item', item_id=item.id) }}">
        <div class="img-cont">
            <img src="{{ url_for('serve_image', img_id=item.images[0].id) }}" alt="">
        </div>
        <div class="upper">
            <div>{{ item.title }}</div>
            <div>{{ price_format(item.price) }} <span class="egp">EGP</span></div>
        </div>
        <div class="lower">
            <div>
                <svg
                    width="18px"
                    height="18px"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="#fff"
                >
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 4.25 7 13 7 13s7-8.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                </svg> {{ item.location }}
            </div>
            <div>{{ date_format(item.created_at) }}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}