{% extends 'base.html' %}

{% block title %} Trader - My items {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/item.css') }}">
    <script src="{{ url_for('static', filename='js/search-location.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/edit-delete.js') }}" defer></script>
{% endblock %}

{% block my_items_page %}selected{% endblock %}

{% block search_location %}
    {% include 'partials/search-location.html' %}
{% endblock %}

{% block content %}
    <header class="pge-header" style="margin: 15px;">- My items -</header>
    <div class="items-cont seller-items-cont">
        {% for item in items %}
            {% with seller_page=True, all_items_page=True %}
                {% include 'partials/item.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    {% if not items %}
        <div class='no-items empty-pge'>No items, <a href="{{ url_for('sell') }}">sell you first item!</a></div>
    {% endif %}
{% endblock %}