{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/single-item.css') }}">
{% endblock %}
{% block content %}
    <div class="grid-cont">
        <div class="item-img-cont">
            <img src="{{ url_for('serve_image', img_id=item.images[0].id) }}" alt="item-image">
        </div>
        {% if current_user.id == seller.id %}
        <div class="seller-btns">
            <button class="edit-btn" onclick="window.location.href = `{{ url_for('edit_item', item_id=item.id) }}?next={{ url_for('single_item', item_id=item.id) }}`">Edit</button>
            <button class="delete-btn" onclick="window.location.href = `{{ url_for('delete_item', item_id=item.id) }}?next={{ url_for('index') }}`">Delete</button>
        </div>
        {% else %}
        <button class="chat-btn" onclick="goToChat()">Chat</button>
        <button class="favourite-btn {% if is_favourite %}fav{% endif %}" onclick="toggleFavourite()">
            <svg
            width="25"
            height="25"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            >
            <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.59 3.81 15.26 3 17 3 20.08 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            />
            </svg>
        </button>
        {% endif %}

        <div class="title-price">
            <h2 class="item-title">{{ item.title }}</h2>
            <div class="price-cont">{{ price_format(item.price) }} <span class="egp">EGP</span></div>
        </div>
        <div class="description-cont">
            <div>Description:</div>
            {{ item.description }}
            <div>Seller:</div>
            {{ seller.firstname }} {{ seller.lastname }}
        </div>

        <div class="location-cont">
            <svg
                width="22px"
                height="22px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#000000"
            >
                <path d="M12 2C8.13 2 5 5.13 5 9c0 4.25 7 13 7 13s7-8.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
            </svg> {{ item.location }}
        </div>

        <div class="item-created-at">{{ date_format(item.created_at, force_datetime=True) }}</div>
        
        <div class="other-items-cont">
            <div class="title">Other items:</div>
            <div class="other-items">
                <!--Other items-->
                {% for item in items %}
                    {% include 'partials/item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    
<script>
    function goToChat(){
        window.location.href = "{{ url_for('single_chat', user_id=seller.id) }}?item-id={{ item.id }}"
    }

    const favouriteBtn = document.querySelector(".favourite-btn")
    
    function toggleFavourite(){
        if ('{{ current_user.is_authenticated }}' != 'False'){
            fetch(`{{ url_for('favourite_json', item_id=item.id) }}`)
            .then(response => response.json())
            .then(data => {
                if (data.favourite) {
                    favouriteBtn.classList.add('fav');
                } else {
                    favouriteBtn.classList.remove('fav');
                };
            });

        } else {
            window.location.href = "{{ url_for('login') }}?next=/{{ item.id }}/";
        };
    };

</script>
{% endblock %}